<!DOCTYPE html>
<html lang="en">
<head>
<title>Create Television Show Entry</title>
</head>
<body>
<form action="#" method="post" >
<p>Create Form:</p>
<table>
<tbody>
<tr>
    <td>Television Show:</td>
    <td><input type="text" name="name" /></td>
</tr>
<tr>
    <td>Number of Seasons:</td>
    <td><input type="text" name="seasons" /></td>
</tr>
<tr>
    <td>Episode Length (minutes):</td>
    <td><input type="text" name="duration" /></td>
</tr>
<tr>
    <td>Year Started:</td>
    <td><input type="text" name="year" /></td>
</tr>
</tbody>
</table>
<p><input type="submit" value="submit"/></p>
</form>
</body>
</html>